<!-- Wappler include head-page="layouts/paging4" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="paging4_front" appConnect="local" -->
<meta name="ac:route" content="/paging4_front">
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-danger">Pagination4</h3>
            </div>
        </div>
    </div>
</header>